#table1 {
	text-align: center;
	font-size: 18px;
	font-family: monospace;
	border: 1px solid #000;
	height: 13em;
}
#textx1 {
	margin-top: 0;
}
#textx {
	margin-top: 0;
}
#table2 {
	text-align: center;
	font-size: 18px;
	font-family: monospace;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 13em;
}
#gs {
	font-size: 50px;
	color: red;

}
#another {
	margin-bottom: 0;
}
#another1 {
	margin-bottom: 0;
}
#gsx {
	margin-bottom: 0;
	float: left;
	margin-left: 200px;
}
#gsy {
	margin-bottom: 0;
	float: right;
	margin-right: 200px;
}

#another {
	font-size: 20px;
	font-family: sans-serif;
}
#another1 {
	font-size: 20px;
	font-family: sans-serif;
}
@media screen and (min-height: 1000px) {
	#table {
		height: 20em;
		font-size: 30px
	}
	#table1 {
		height: 20em;
		font-size: 30px
	}
}
