#table1 {
	text-align: center;
	font-size: 5em;
	font-family: monospace;
	border: 1px solid #000;
	height: 15em;
}
#textx1 {
	margin-top: 2em;
}
#textx {
	margin-top: 2em;
}
#table2 {
	text-align: center;
	font-size: 5em;
	font-family: monospace;
	border: 1px solid #000;
	height: 20em;
}
#gs {
	font-size: 50px;
	color: red;

}
#another {
	margin-bottom: 0;
}
#another1 {
	margin-bottom: 0;
}
#gsx {
	margin-bottom: 0;
	float: left;
	margin-left: 200px;
}
#gsy {
	margin-bottom: 0;
	float: right;
	margin-right: 200px;
}

#another {
	font-size: 20px;
	font-family: sans-serif;
}
#another1 {
	font-size: 20px;
	font-family: sans-serif;
}