body {
	background-color: rgba(33,33,33,0.03);
}
#blocks {
	margin: auto;
	width: 1000px;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.block {
	width: 48px;
	height: 48px;
	border: 1px solid;
	flex-basis: 48px;
}
